Source: mtapoja-tools-virt-nox
Section: utils
Priority: extra
Maintainer: Mika Tapojärvi <mika.tapojarvi@embelin.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3

Package: mtapoja-tools-virt-nox
Architecture: any
Depends: ${misc:Depends}, ${dist:Depends}, qemu-kvm libvirt-bin, virtinst, cpu-checker
Description: Metapackage for virtual machine tools - no X
 This package pulls all the cool tools needed for creating VM's from command line.
